﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (!Model.a)           // se è true -> utente loggato, altrimento non loggato
{
    <div class="container" style="text-align: center">
        <h1 class="display-4" style="margin-top: 8%;">Welcome</h1>
        <h6> Benvenuti in LampOne! La nostra applicazione per la casa domotica!</h6>
        <div class="row" style="text-align:center; padding: 50px;">
            <div class="col-sm">
                <img src="~/Images/d.png" class="img_volti" title="Damiano" />
                <p>Damiano Dapit</p>
            </div>
            <div class="col-sm">
                <img src="~/Images/giova.png" class="img_volti" title="Giovanni"/>
                <p>Giovanni Ariani</p>
            </div>
            <div class="col-sm">
                <img src="~/Images/ele.png" class="img_volti" title="Eleonora"/>
                <p>Eleonora Bertolo</p>
            </div>
        </div>
    </div>
}

@section Scripts {
    <style>
        .img_volti {
            width: 175px;
            height: 175px;
        }

        /*.img_volti:hover {
            width: 200px;
            height: 200px;
            cursor: pointer;
        }*/
    </style>
}