﻿@page
@model WebAppDemov2.Pages.Test.BathroomModel
@{
    ViewData["Title"] = "Bathroom";
}

<h1 style="margin-left:10%; width:90%;">Bathroom</h1>

<div class="row" style="text-align:right;">
    <div class="col-md-2 side-bar">
        <div class="col-xs-12 house">
            <a class="nav-link text-dark" asp-area="" asp-page="/Index">
                
            </a>
        </div>
        <div class="col-xs-12 house">
            <a class="nav-link text-dark" asp-area="" asp-page="/Index">
                
            </a>
        </div>
        <div class="col-xs-12 house">
            <a class="nav-link text-dark" asp-area="" asp-page="/Index">
               
            </a>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <style>
        .house {
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: center;
        }

        .side-bar {
            position: absolute;
            top: 73px;
            left: 0;
            bottom: auto;
            padding-top: 70px;
            height: 524px;
            /*margin-top:70px;*/
            overflow: hidden;
            background-color: #fff;
            z-index: 1000;
            box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
        }
    </style>

}