﻿@page
@model WebAppDemov2.Pages.Test.HomeDetailsModel
@{
    ViewData["Title"] = "HomeDetails";
}

<h1 style="margin-left:10%; width:90%;">Home Details</h1>

<div class="row" style="text-align:right;">
    <div class="col-2 side-bar">
        <div class="col-xs-12 house">
            <a class="nav-link text-dark" asp-area="" asp-page="/Test/Kitchen">
                Cucina
            </a>
        </div>
        <div class="col-xs-12 house">
            <a class="nav-link text-dark" asp-area="" asp-page="/Test/Living">
                Salotto
            </a>
        </div>
        <div class="col-xs-12 house">
            <a class="nav-link text-dark" asp-area="" asp-page="/Test/Bathroom">
                Bagno
            </a>
        </div>
        <div class="col-xs-12 house">
            <a class="nav-link text-dark" asp-area="" asp-page="/Test/Bedroom">
                Camera
            </a>
        </div>
    </div>
</div>

<div class="mainSection" align="center">
    @*<a href="/Test/Kitchen" class="kitchen"></a>
    <a href="/Test/Living" class="Living"></a>
    <a href="/Test/Bathroom" class="Bathroom"></a>
    <a href="/Test/Bedroom" class="Bedroom"></a>*@
    <img src="~/Images/piantina2.png" class="piantina" />
</div>

@section Scripts {
    <style>
        /*.mainPage {
            max-width: 1300px !important;
            align-content: center;
        }*/

        .side-bar {
            position: absolute;
            top: 73px;
            left: 0;
            bottom: auto;
            padding-top: 70px;
            height:auto;
           /*margin-top:70px;*/
            overflow: hidden;
            background-color: #fff;
            z-index: 1000;
            box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
        }

        .house {
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: center;
        }

        .room {
            color: black;
            font-size: 16px;
            font-weight: 600;
            border: none;
        }

        .room:hover {
            border: none;
            color: orangered;
            font-size: 19px;
        }

        .piantina {
            margin-top: 5px;
            width: 75%;
            height: 65%;
            z-index: 1000;
        }

        .mainSection {
            width:auto;
            height: auto;
            align-content: center;
            /*position:absolute;*/
            margin-left: 5%;
        }
        .kitchen {
            width: 210px;
            height: 155px;
            margin-top: 65px;
            margin-left: 85px;
            display: block;
            position: absolute;
        }

        .Bedroom {
            width: 270px;
            /*background-color: black;*/
            height: 220px;
            display: block;
            position: absolute;
            margin-left: 357px;
            margin-top: 374px;
        }

        .Bathroom {
            
            width: 197px;
            height: 193px;
            /*background-color: black;*/
            display: block;
            position: absolute;
            margin-left: 85px;
            margin-top: 402px;
        }

        .Living {
            width: 270px;
            height: 252px;
            display: block;
            margin-left: 350px;
            margin-top: 65px;
            position: absolute;
            /*background-color: black;*/
        }
    </style>
}
