﻿@page
@model WebAppDemov2.Pages.Test.KitchenModel
@{
    ViewData["Title"] = "Kitchen";
}

<h1 style="margin-left:10%; width:90%;">Cucina</h1>

<div class="row" style="text-align:left;">
    <div class="col-sm-2 side-bar">
        <div class="col-xs-12 house">
            <a class="nav-link text-dark" asp-area="" asp-page="/Test/HomeDetails">
                INDIETRO
            </a>
        </div>
        <div class="col-xs-12 house">
            <div class="nav-link text-dark show_details_temp">
                Temperatura
            </div>
        </div>
        <div class="col-xs-12 house">
            <div class="nav-link text-dark show_details_luce">
                Luce
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-left:10%;">
    @foreach (var t in Model.device)
    {
        <div class="col-4">
            <div class="row">
                @if (!t.Equals(null))
                {
                    @if (t.Nome.ToUpper().Contains("TEMPERATURA"))
                    {
                        <div class="card" id_temp="@t.Id" id_scheda="@t.IdScheda" slot="@t.Slot" temp="@t.Value" style="float:left;">
                            <div class="row" id="div_temperatura_@t.Id" style="height:10%;">
                                <div class="col-sm-3">
                                    <img src="~/Images/thermostat.png" title="Temperatura" id="temperatura_@t.Id" width="95" height="165" align="left" />
                                </div>
                                <div class="col-sm-8">
                                    <div class="card-body" style="margin-left:30px; width:auto;">
                                        <span>
                                            Temperatura:
                                        </span>
                                        <span id="changet_@t.Id" style="font-weight: bold;">@t.Value</span>
                                        <div class="details_temp" style="display:none;">
                                            <span>
                                                ID Scheda:
                                            </span>
                                            <span id="changet_@t.Id" style="font-weight: bold; text-align:center;">@t.IdScheda</span>
                                            <br />
                                            <span>
                                                Slot:
                                            </span>
                                            <span id="changet_@t.Id" style="font-weight: bold;">@t.Slot</span>
                                            <br />
                                            <span>
                                                Indirizzo:
                                            </span>
                                            <span id="changet_@t.Id" style="font-weight: bold;">@t.IndirizzoScheda</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>    
    }
</div>

<br />

<div class="row" style="margin-left:10%;">
    @foreach (var a in Model.device)
    {
        @if (!a.Equals(null))
        {
            @if (a.Nome.ToUpper().Contains("LED"))
            {
                <div class="col-4">
                    <div class="row">
                        <div class="card" id_led="@a.Id" id_scheda="@a.IdScheda" slot="@a.Slot" style="float:left;">
                            <div class="row" id="div_lampadina_@a.Id" style="height:10%; cursor: pointer;">
                                <div class="col-sm-3">
                                    <img src="~/Images/lampadinaoff.png" title="Luce" id="lampadina_@a.Id" class="lampadina_off" align="left" />
                                </div>
                                <div class="col-sm-8">
                                    <div class="card-body" style="margin-left:85px; width:auto;">
                                        <span>
                                            Luce:
                                        </span>
                                        <span id="changel_@a.Id" style="font-weight: bold;">@a.Command</span>
                                        <div class="details_luce" style="display:none;">
                                            <span>
                                                ID Scheda:
                                            </span>
                                            <span id="changel_@a.Id" style="font-weight: bold;">@a.IdScheda</span>
                                            <br />
                                            <span>
                                                Slot:
                                            </span>
                                            <span id="changel_@a.Id" style="font-weight: bold;">@a.Slot</span>
                                            <br />
                                            <span>
                                                Indirizzo:
                                            </span>
                                            <span id="changel_@a.Id" style="font-weight: bold;">@a.IndirizzoScheda</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                    </div>
                </div>
             }
         }
     }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <style>
        .card {
            border: none;
            /* width: 28% !important;*/
            max-height: 33%;
            -webkit-box-shadow: 0 8px 6px -6px black;
            -moz-box-shadow: 0 8px 6px -6px black;
            box-shadow: 0 8px 6px -6px black;
            margin-left: 8%;
            margin-top: 2%;
            z-index: 1000;
        }

        .card-body {
            padding-right: 0px;
        }

        .col-sm-8 {
            padding-right: 0px;
        }

        .lampadina_off {
            cursor: pointer;
            width: 175px;
            height: 175px;
        }

        .lampadina_on {
            cursor: pointer;
            width: 175px;
            height: 175px;
        }

        .img {
            width: 300px;
            /*height: 250px;
margin-bottom: 10px;*/
        }

        .side-bar {
            position: absolute;
            top: 73px;
            left: 0;
            bottom: auto;
            padding-top: 70px;
            height: auto;
            /*margin-top:70px;*/
            overflow: hidden;
            background-color: #fff;
            z-index: 1500;
            box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
        }

        .house {
            padding-top: 10px;
            padding-bottom: 10px;
            text-align: center;
            cursor: pointer;
        }
    </style>

    <script>
        $(".card").on("click", function () {
            var id = $(this).attr("id_led");
            var id_scheda = $(this).attr("id_scheda");
            var slot = $(this).attr("slot");

            var data = {
                'status': '',
                'id_led': id,
                'scheda_id': id_scheda,
                'slot': slot
            };

            if ($("#lampadina_" + id).hasClass("lampadina_off")) {
                data.status = 'ON';

                $.ajax({                                            // chiamata ajax api di node
                    url: "https://lamponeapi.azurewebsites.net/Kitchen",
                    method: 'post',
                    dataType: 'json',
                    contentType: "application/json",
                    data: JSON.stringify(data),
                    success: function (msg) {
                        //alert(msg);
                    },
                    error: function () {
                        alert("errore");
                    }
                });
            }
            else {
                data.status = 'OFF';

                $.ajax({
                    url: "https://lamponeapi.azurewebsites.net/Kitchen",
                    method: 'post',
                    dataType: 'json',
                    contentType: "application/json",
                    data: JSON.stringify(data),
                    success: function (msg) {
                        //alert(msg.message);
                    },
                    error: function () {
                        alert("errore");
                    }
                });
            }
        });

        $(".show_details_temp").on("click", function () {           // nascondi/mostra dettagli
            if ($(".details_temp").is(':hidden'))
                $(".details_temp").show();
            else
                $(".details_temp").hide();
        });

        $(".show_details_luce").on("click", function () {           // nascondi/mostra dettagli
            if ($(".details_luce").is(':hidden'))
                $(".details_luce").show();
            else
                $(".details_luce").hide();
        });

        $(".show_details_alarm").on("click", function () {           // nascondi/mostra dettagli
            if ($(".details_luce").is(':hidden'))
                $(".details_luce").show();
            else
                $(".details_luce").hide();
        });
    </script>
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <script>
        var socket = io('https://lamponeapi.azurewebsites.net');
        socket.on('kitchen', function (data) {
            var enc = new TextDecoder("utf-8");
            console.log(enc.decode(data));
            var status = JSON.parse(enc.decode(data))["status"];
            var id = JSON.parse(enc.decode(data))["id"];

            console.log(status);
            console.log(id);

            switch (id) {
                case 8:         // LED
                case 9:
                case 4:
                    if (status == 1) {     // 1 = on, 0 = off       -> cambio immagine e scritta
                        $("#lampadina_" + id).removeClass("lampadina_off");
                        $("#lampadina_" + id).addClass("lampadina_on");
                        $("#lampadina_" + id).attr("src", "../../Images/lampadina.png");
                        $("#changel_" + id).text("ON");
                    }
                    else if (status == 0) {
                        $("#lampadina_" + id).removeClass("lampadina_on");
                        $("#lampadina_" + id).addClass("lampadina_off");
                        $("#lampadina_" + id).attr("src", "../../Images/lampadinaoff.png");
                        $("#changel_" + id).text("OFF");
                    }
                    break;
                case 3:     // TEMPERATURA
                    $("#changet_" + id).text(status + ' °C');
                    break;
            }
        });
    </script>
}


