﻿@page
@model WebAppDemov2.Pages.LogReg.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form method="post">
    <div class="form-row">
        <div class="col-md-3 mb-2">
            <label asp-for="Login.Username"></label>
            <input type="text" class="form-control" asp-for="Login.Username" required />
            <span asp-validation-for="Login.Username"></span>
        </div>
        <div class="col-md-3 mb-2">
            <label asp-for="Login.Password"></label>
            <input type="password" class="form-control" asp-for="Login.Password" required />
            <span asp-validation-for="Login.Password"></span>
        </div>
    </div>

    <button type="submit" class="btn btn-outline-success"><ztx>Login</ztx></button>
    <div asp-validation-summary="All"></div>
</form>