﻿@page
@model WebAppDemov2.Pages.Login.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<form method="post">
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label asp-for="User.Nome"></label>
            <input type="text" class="form-control" asp-for="User.Nome" required />
            <span asp-validation-for="User.Nome"></span>
        </div>
        <div class="col-md-4 mb-3">
            <label asp-for="User.Cognome"></label>
            <input type="text" class="form-control" asp-for="User.Cognome" required />
            <span asp-validation-for="User.Nome"></span>
        </div>
        <!--Date picker -->
        <div class="col-md-3 mb-2">
            <label class="control-label" asp-for="User.DataNascita">Data di nascita</label>
            <div>
                <img src="~/Images/calendar.png" width="25" style="float: left; position:absolute; margin-top:6.5px; margin-bottom:6.5px; margin-left:3px;" />
                <input type="text" class="form-control" id="datepicker" asp-for="User.DataNascita" style="padding-left: 32px;">
            </div>
            <span asp-validation-for="User.DataNascita"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label asp-for="User.CodiceFiscale">Codice fiscale</label>
            <input type="text" class="form-control" asp-for="User.CodiceFiscale" maxlength="16" style="text-transform: uppercase;" required />
            <span asp-validation-for="User.CodiceFiscale"></span>
        </div>
        <div class="col-md-3 mb-2">
            <label asp-for="User.Telefono"></label>
            <input type="text" class="form-control" asp-for="User.Telefono" />
            <span asp-validation-for="User.Telefono"></span>
        </div>
        <div class="col-md-3 mb-3">
            <label class="control-label" asp-for="User.Email">E-mail</label>
            <input type="email" class="form-control" asp-for="User.Email" required>
            <span asp-validation-for="User.Email"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-3 mb-2">
            <label asp-for="User.Username"></label>
            <input type="text" class="form-control" asp-for="User.Username" required />
            <span asp-validation-for="User.Username"></span>
        </div>
        <div class="col-md-3 mb-2">
            <label asp-for="User.Password"></label>
            <input type="password" class="form-control" asp-for="User.Password" required />
            <span asp-validation-for="User.Password"></span>
        </div>
        <div class="col-md-3 mb-2">
            <label asp-for="User.ConfermaPwd">Conferma password</label>
            <input type="password" class="form-control" asp-for="User.ConfermaPwd" required />
            <span asp-validation-for="User.ConfermaPwd"></span>
        </div>
    </div>

    <button type="submit" class="btn btn-outline-success"><ztx>Salva</ztx></button>
    <div asp-validation-summary="All"></div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <!--SERVONO PER IL DATEPICKER-->
    <script src="~/lib/jquery-ui-1.12.1.custom/external/jquery/jquery.js"></script>
    <script src="~/lib/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <link href="~/lib/jquery-ui-1.12.1.custom/jquery-ui.theme.css" rel="stylesheet" />
    <link href="~/lib/jquery-ui-1.12.1.custom/jquery-ui.css" rel="stylesheet" />

    <script type="text/javascript">
        $(document).ready(function () {
            $("#datepicker").datepicker({
                changeYear: true,
                changeMonth: true,
                hideIfNoPrevNext: true,
                minDate: "-70y"
            });
        });
    </script>
}